@model IEnumerable<SessionInfo>

<table class="table-striped table-bordered dashboard">
    <h1>Available sessions / In progress</h1>
    @if(Model != null && Model.Any())
    {
        <thead>
            <tr>
                <th scope="col">SessionId</th>
                <th scope="col">Patient</th>
                <th scope="col">Requested</th>
                <th scope="col">Psychologist</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var info in Model)
            {
                <tr>
                    <td>@info.SessionId</td>
                    <td>@info.Patient</td>
                    <td>@info.RequestDate</td>
                    <td>
                        @if (info.CanAcceptSession)
                        {
                            <form asp-action="@nameof(HomeController.ApplyForSession)" method="post">
                                <input type="hidden" name="pid" value="@info.PID" />
                                <input type="submit" class="btn btn-primary btn-sm" value="Apply" />
                            </form>
                        }
                        else
                        {
                            @info.Psychologist
                        }
                    </td>
                </tr>
            }
        </tbody>
    }
</table>